/* Variables */
:root {
  /* Main colors */
  --primary-color: var(--blue-500);
  --primary-color-hover: var(--blue-300);
  --primary-color-active: var(--blue-600);
  --secondary-color: var(--yellow-400);
  --secondary-color-hover: var(--yellow-200);
  --secondary-color-active: var(--yellow-500);
  /* Grays */
  --white: #ffffff;
  --gray-50: #f6f6f6;
  --gray-100: #e7e7e7;
  --gray-200: #d1d1d1;
  --gray-300: #b0b0b0;
  --gray-400: #888888;
  --gray-500: #6d6d6d;
  --gray-600: #5d5d5d;
  --gray-700: #4f4f4f;
  --gray-800: #454545;
  --gray-900: #3d3d3d;
  --black: #000000;
  /* Blue */
  --blue-50: #e9ecff;
  --blue-100: #d6dcff;
  --blue-200: #b6beff;
  --blue-300: #8992ff;
  --blue-400: #605bff;
  --blue-500: #4d36ff;
  --blue-600: #4214ff;
  --blue-700: #3d0af8;
  --blue-800: #310cc7;
  --blue-900: #2c149b;
  --blue-950: #070317;
  /* Yellow */
  --yellow-50: #fcf8ea;
  --yellow-100: #f9f0c8;
  --yellow-200: #f4de94;
  --yellow-300: #edc557;
  --yellow-400: #e5ad2a;
  --yellow-500: #db991d;
  --yellow-600: #b87316;
  --yellow-700: #935215;
  --yellow-800: #7a4219;
  --yellow-900: #68371b;
  --yellow-950: #3d1c0b;
  /* Tokens */
  --surface-primary: var(--gray-50);
  --surface-secondary: var(--gray-100);
  --button-primary: var(--primary-color);
  --button-primary-hover: var(--primary-color-hover);
  --button-primary-active: var(--primary-color-active);
  --button-label-primary: var(--gray-100);
  --text-primary: var(--blue-950);
  --text-primary-hover: var(--blue-500);
  --text-primary-active: var(--blue-700);
  --text-secondary: var(--gray-500);
  --radius-xs: border-radius 4px;
  --radius-s: border-radius 8px;
  --radius-md: border-radius 12px;
  --radius-lg: border-radius 18px;
  --radius-xl: border-radius 24px;
  /* Typography */
  --h1: 2.986rem;
  --h2: 2.488rem;
  --h3: 2.074rem;
  --h4: 1.728rem;
  --h5: 1.44rem;
  --h6: 1.2rem;
  --body-text: 1rem;
  --small-text: 0.833rem;
  --tiny-text: 0.694rem;
  /* Spacing */
  --spacing-2: 2rem;
  --spacing-4: 4rem;
  --spacing-8: 8rem;
  --spacing-12: 12rem;
  --spacing-16: 16rem;
  --spacing-24: 24rem;
  --spacing-32: 32rem;
  --spacing-48: 48rem;
  --spacing-64: 64rem;
  --spacing-72: 72rem;
  --spacing-96: 96rem;
}

h1 {
  font-size: var(--h1);
  animation-duration: 3s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

p {
  font-size: var(--body-text);
}

/* Styling starts here */
* {
  font-family: "Lexend Deca", sans-serif;
  margin: 0;
}

html {
  padding: 0px 8vw;
  background-color: var(--white);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

#navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
  padding: 16px 0px;
}

#logo {
  text-decoration: none;
  color: var(--text-primary);
}

#logo-surya {
  text-decoration: none;
  color: var(--primary-color);
  font-family: "Pacifico", sans-serif;
}

#logo-dharma {
  text-decoration: none;
  color: var(--secondary-color);
}

#logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#foto-website {
  width: 48px;
  height: 48px;
  padding-right: 8px;
}

#logo-text {
  padding: 0px 8px;
  font-weight: 700;
}

#menus {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.menu {
  text-wrap: nowrap;
  color: var(--text-primary);
  font-size: var(--body-text);
  text-decoration: none;
  padding: 4px 8px;
}

.menu:hover {
  color: var(--text-primary-hover);
  font-size: var(--body-text);
  text-decoration: none;
  padding: 4px 8px;
  text-shadow: 0px 0px 2px var(--blue-300);
}

.menu:active {
  color: var(--text-primary-active);
  font-size: var(--body-text);
  text-decoration: none;
  padding: 4px 8px;
  text-shadow: 0px 0px 2px var(--button-primary-active);
}

#heroContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 90vh;
}

#hero-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.headline {
  max-width: 46vw;
  padding-bottom: 12px;
  color: var(--text-primary);
}

.sub-headline {
  width: 46vw;
  color: var(--text-secondary);
  padding-bottom: 12px;
}

.cta-button {
  font-size: var(--h6);
  font-weight: 500;
  background-color: var(--button-primary);
  color: var(--button-label-primary);
  padding: 4px 8px;
  border-style: solid;
  border-color: var(--button-primary);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.cta-button:hover {
  font-size: var(--h6);
  font-weight: 500;
  background-color: var(--button-primary-hover);
  padding: 4px 8px;
  border-style: solid;
  border-color: var(--button-primary-hover);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0px 0px 5px var(--primary-color-hover);
}

.cta-button:active {
  font-size: var(--h6);
  font-weight: 500;
  background-color: var(--button-primary-active);
  padding: 4px 8px;
  border-style: solid;
  border-color: var(--button-primary-active);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0px 0px 8px var(--primary-color-active);
}

#heroImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #4f4f4f; */
}

#heroImage {
  max-width: 42vw;
  max-height: 84vh;
  /* width: 48vh;
  height: 60vh; */
}

#interest,
#projects {
  min-height: 100vh;
}

.showcaseHeadline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  margin-bottom: 1vw;
}

#interest-mod {
  /* font-style: italic; */
  color: var(--secondary-color);
  font-family: "Pacifico", sans-serif;
}

#project-mod {
  /* font-style: italic; */
  color: var(--secondary-color);
  font-family: "Pacifico", sans-serif;
}

.section-headline {
  text-align: center;
}

.section-subheadline {
  text-align: center;
  color: var(--text-secondary);
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.interestCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  padding: 32px;
  margin: 16px 0px;
  width: 256px;
  height: 320px;
  background-color: var(--surface-primary);
  border-style: solid;
  border: 5px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  box-shadow: 0px 4px 12px var(--primary-color-hover);
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  padding: 2rem;
  margin: 16px 0px;
  width: 16rem;
  height: 20rem;
  background-color: var(--surface-primary);
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  box-shadow: 0px 4px 12px var(--primary-color-hover);
}

.projectCta {
  font-size: var(--p);
  font-weight: 500;
  background-color: var(--button-primary);
  color: var(--button-label-primary);
  padding: 4px 8px;
  border-style: solid;
  border-color: var(--button-primary);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.projectCta:hover {
  font-size: var(--p);
  font-weight: 500;
  background-color: var(--button-primary-hover);
  padding: 4px 8px;
  border-style: solid;
  border-color: var(--button-primary-hover);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0px 0px 5px var(--button-primary-hover);
}

.projectCta:active {
  font-size: var(--p);
  font-weight: 500;
  background-color: var(--button-primary-active);
  padding: 4px 8px;
  border-style: solid;
  border-color: var(--button-primary-active);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0px 0px 5px var(--button-primary-active);
}

.card-title {
  color: var(--primary-color);
  text-align: center;
}

.interestImage {
  flex: 2;
  max-height: 50%;
  max-width: 50%;
  min-height: 20%;
  min-width: 20%;
}

.projectImage {
  flex: 1;
  max-height: 80%;
  width: auto;
  object-fit: contain;
  background-color: var(--surface-secondary);
  border-style: solid;
  border-color: var(--surface-secondary);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.description-container {
  flex: 1;
  max-width: 100em;
  max-height: 100em;
}

.card-description {
  color: var(--text-primary);
  font-size: var(--p);
  text-align: center;
}

.button-detail {
  font-size: var(--p);
  font-weight: 500;
  background-color: var(--button-primary);
  color: var(--button-label-primary);
  padding: 4px 8px;
  border-style: solid;
  border-color: var(--button-primary);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.button-detail:hover {
  font-size: var(--p);
  font-weight: 500;
  background-color: var(--button-primary-hover);
  padding: 4px 8px;
  border-style: solid;
  border-color: var(--button-primary-hover);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0px 0px 5px var(--button-primary-hover);
}

.button-detail:active {
  font-size: var(--p);
  font-weight: 500;
  background-color: var(--button-primary-active);
  padding: 4px 8px;
  border-style: solid;
  border-color: var(--button-primary-active);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0px 0px 5px var(--button-primary-active);
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  min-height: 75vh;
  margin-top: 4rem;
}

#closingContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: fit-content;
  flex-wrap: wrap;
}

#closing {
  min-width: 65%;
  border-style: solid;
  border-color: var(--text-primary);
  border-top: none;
  border-right: none;
  border-left: none;
  padding-bottom: 16px;
  padding-right: 16px;
}

div#closing h6 {
  color: var(--text-secondary);
}

#closingbuttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  row-gap: var(--spacing-2);
  min-width: 15%;
  max-width: 25%;
}

#closingButton {
  margin-top: 12px;
  max-width: fit-content;
}

#closingbuttonDescription {
  color: var(--text-secondary);
  margin-top: 2rem;
}

#socialPlatform {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: var(--spacing-2);
  row-gap: var(--spacing-4);
  padding-top: 2rem;
  flex: 1;
  width: 100%;
}

#emailContainer a {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--text-primary);
  text-decoration: none;
}

#socmedContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: var(--spacing-4);
}

.socmedLogo {
  width: 32px;
  height: 32px;
  padding-right: 16px;
  color: var(--text-primary);
}

#copyrightContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-style: solid;
  border-color: var(--text-secondary);
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#copyrightImage {
  width: 12px;
  height: 12px;
  color: var(--text-secondary);
}

div#copyrightContainer p {
  font-size: var(--tiny-text);
  color: var(--text-secondary);
  padding: 8px 8px;
}
